*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #EEFBFB;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}

html{
  scroll-behavior: smooth;
}

body{
  background: rgb(26, 26, 26);
}

img{
  width: 100%;
}

/* Font Sizing */
h1{
  font-size: 40px;
  text-align: center;
}

section.landing p{
  line-height: 1.25em;
  font-size: 28px;
}

nav li a, button, .project-item{
  font-size: 16px;
  font-family: 'Ubuntu Mono', monospace, sans-serif;
}

.container h1{
  margin-left: 8%;
  text-align: left;
}

.experience .container h1:not(:first-child){
  margin-top: 10%;
}

/* Set all Flex Properties */
nav, section.landing, footer, header, .bottom-container, .project-item,
.experience .container{
  display: flex;
  justify-content: center;
  align-items: center;
}

section, header, .project-item{
  flex-direction: column;
}

section{
  min-height: 80vh;
}

/* HEADER/NAV STYLING */
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(20, 18, 8);
  height: 110px;
  border-bottom: rgba(131,58,180,1) 3px solid;
  z-index: 1;
}

nav{
  text-align: center;
}

nav li{
  list-style-type: none;
  line-height: 1.5em;
}

nav li a{
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

nav li a:hover{
  color: white;
}

/* PROJECT PAGE */
#project-page, .experience{
  padding-top: 125px;
}

.projects-container, .container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 15vw;
  padding-top: 5vh;
}

  .projects-container > .project-item{
    border: #F1B24A 8px solid;
    border-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgb(219, 150, 52) 100%) 1;
    width: 100%;
    padding: 2%;
  }

  .projects-container > .project-item:not(:first-child){
    margin-top: 5vh;
  }

    .project-item > * {
      padding: 1%;
    }

    .project-item p:first-of-type {
      color: #F1B24A;
    }

.bottom-container{
  padding-top: 2%;
  width: 100%;
  justify-content: space-evenly;
}

button{
  background-color: #164A41;
  border: none;
  cursor: pointer; 
  transition: all 0.3s ease 0s;
  padding: 8px;
  border-radius: 25px;
}

button:hover{
  opacity: 0.8;
}

/* Experience (Timeline) Page */
.experience ul, li{
  list-style: none;
  padding: 0;
}

.experience .wrapper{
  padding: 2rem;
  width: 100%;
  border: #F1B24A 8px solid;
  border-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgb(219, 150, 52) 100%) 1;
  margin-bottom: 50px;
}

.experience .sessions{
  margin-top: 1rem;
  border-radius: 12px;
  position: relative;
}

.experience li{
  padding-bottom: 1rem;
  border-left: 1px solid #abaaed;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  font-size: 14px;
}

.experience li:last-child{
    border: 0px;
    padding-bottom: 0;
}

.experience ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    background: #4659FF;
    border: 1px solid #4659FF;
    box-shadow: 2px 2px 0px rgb(50, 63, 180);
    position: absolute;
    left: -8px;
    top: 0px;
  }

.experience ul li:last-of-type{
  border-left: 0px solid red;
  left: 2px;
}

.experience ul li{
  margin: 0 10%;
}

footer{
  height: 45px;
  background-color: #2b2b2b;
  border-top: #4DA8DA 3px solid;
}





