*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #5AFFF5;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #413C58;
}

img{
  width: 100%;
}

nav, section.landing, footer, header, .bottom-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  min-height: 80vh;
  background-color: #413C58;
  flex-direction: column;
  /* border-top: #5AFFF5 2px solid; */
  font-family: 'Source Code Pro', monospace, sans-serif;
}

section.landing{
  height: 60vh;
  border-top: none;
}

section.landing p{
  flex-direction: column;
  line-height: 1.5em;
}

/* HEADER/NAV STYLING */
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #2b2b2b;
  height: 20vh;
  border-bottom: #5AFFF5 3px solid;
  flex-direction: column;
}

nav{
  text-align: center;
}

nav li{
  list-style-type: none;
  line-height: 1.5em;
}

nav li a{
  color: #5AFFF5;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  font-family: 'Ubuntu Mono', monospace, sans-serif;
}

nav li a:hover{
  color: white;
}

/* PROJECT CONTAINERS */
#project-page{
  padding-top: 23vh;
}

.projects h1{
  text-align: center;
}

.projects-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 10%;
}

  .projects-container > .project-item{
    border: #4659FF 3px solid;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 0.75em;
  }

  .projects-container > .project-item{
    margin-top: 5%;
    padding: 2%;
  }

    .project-item > .top-border{
      border-top: 0px white solid;
    }

    .project-item > * {
      width: 100%;
      padding: 1%;
    }

    .project-item p:first-of-type {
      color: rgb(52, 150, 143);
    }

.bottom-container{
  padding-top: 2%;
  width: 100%;
  justify-content: space-evenly;
}

button{
  background-color: #5AFFF5;
  border: none;
  cursor: pointer; 
  transition: all 0.3s ease 0s;
  color: black;
  padding: 5px;
  border-radius: 25px;
  font-family: 'Ubuntu Mono', monospace, sans-serif;
  font-weight: 500;
  font-size: 12px;
}

button:hover{
  opacity: 0.8;
}
